#login-screen {
  text-align: center;
}

.form {
  display: inline-block;
  text-align: center;

  &__title {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 33px;
    width: 300px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 150px 16.5px;
    transform-origin: 150px 16.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 500 normal 30px / 33px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 20px 0px 10px;
    outline: rgb(51, 51, 51) none 0px;
  }

  &__label {
    bottom: 661px;
    box-sizing: border-box;
    clip: rect(0px 0px 0px 0px);
    color: rgb(51, 51, 51);
    display: block;
    height: 1px;
    left: 810px;
    max-width: 100%;
    position: absolute;
    right: 1111px;
    top: 118px;
    width: 1px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 0.5px 0.5px;
    transform-origin: 0.5px 0.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal bold normal 14px / 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: -1px;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
  }

  &__input {
    bottom: 0px;
    color: rgb(85, 85, 85);
    display: block;
    height: 30px;
    position: relative;
    width: 300px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px 4px 4px 4px;
    padding: 10px;
    margin: 5px 0;
  }
  &__submit-button {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 46px;
    min-height: 0px;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 300px;
    background: rgb(51, 122, 183);
    border: 1px solid rgb(46, 109, 164);
    border-radius: 6px 6px 6px 6px;
    padding: 10px 16px;
    display: inline-block;
  }
}

