<div id="login-screen">
    <form class="form">
        <h2 class="form__title">
            Please sign in
        </h2>
        <label for="login" class="form__label">
            Login
        </label>
        <input  class="form__input" ng-model="login.name" type="text" id="login" placeholder="Login name"/>
        <label for="inputPassword" class="form__label">
            Password
        </label>
        <input class="form__input" ng-model="login.password" type="password" id="inputPassword" placeholder="Password"/>
        <button class="form__submit-button" type="submit" ng-click="login.login()">
            Sign in
        </button>
    </form>
</div>