<div class="login-screen">
    <form id="FORM_1">
        <h2 id="H2_2">
            Please sign in
        </h2>
        <label for="login" id="LABEL_3">
            Login
        </label>
        <input ng-model="login.name" type="text" id="INPUT_4" placeholder="Login name"/>
        <label for="inputPassword" id="LABEL_5">
            Password
        </label>
        <input ng-model="login.password" type="password" id="INPUT_6" placeholder="Password"/>

        <div id="DIV_7">

            <label id="LABEL_8">
                <input type="checkbox" value="remember-me" id="INPUT_9"/> Remember me
            </label>
        </div>
        <button type="submit" id="BUTTON_10" ng-click="login.login()">
            Sign in
        </button>
    </form>
</div>