.shop{

  &__basket{
    margin-top:5px;
  }
  &__filter{
    margin-top:10px;
  }

  &__products{
    padding: .5vw;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
  }

  &__product {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 200px;
    height:100px;
    margin: .5vw;
    border: 1px solid black;
  }
}
.filter{
  border: 1px solid black;
  padding: 5px;
  &__button{
    @extend .button;
    width: 300px;
  }
}

.product {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  height:100px;
  margin: .5vw;
  border: 1px solid black;
  &__name {
    &--in-basket {
      color:red;
    }
  }
  &__price--expensive{
    color: blue;
  }
  &__button{
    @extend .button;
  }
}


.button {
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  padding: 5px;
  vertical-align: middle;
  white-space: nowrap;
  background: rgb(51, 122, 183);
  border: 1px solid rgb(46, 109, 164);
  border-radius: 6px 6px 6px 6px;
  display: inline-block;
}