<div id="shop">
    <div class="filter">
        <button ng-click="shop.order='price'">Order by Price</button>
        <button ng-click="shop.order='name'">Order by name</button>
        <div ng-include="'templates/basket.tpl.html'"></div>
    </div>
    <div class="products">
        <div class="product" ng-repeat="product in shop.products | orderBy : shop.order">
            <div ng-bind="product.name" ng-class="{'inBasket': product.basket}"></div>
            <div ng-bind="product.price" do-magic price="product.price"></div>
            <button ng-click="shop.addToBasket(product)">Add to basket</button>
        </div>
    </div>
</div>